
/* 1.la charte*/
:root {
  --primary-color: #A62B17;
  --primary-hover: #852212;
  --secondary-color: #cc9253;
  --bg-color: #F8F5EE;
  --card-bg: #FFFFFF;
  --text-main: #222222;
  --text-muted: #555555;
  --radius: 6px;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: sans-serif;
}



   /* 2. header nav */

header {
  background-color: #ffffff;
  width: 100%;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 2rem;
}
nav li {
    padding-right: 1rem;

}

nav a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 600;
}

nav a:hover {
  color: var(--primary-color);
}

   /* 3. ACCUEIL sec1 */

.sec1 {
  max-width: 1100px;
  margin: 2.5rem auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sec1-intro {
  flex: 1;
}

.sec1-intro h4 {
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.sec1-intro h1 {
  color: var(--primary-color);
  font-weight: 800;
  margin-bottom: 0.8rem;
  line-height: 1.2;
}

.sec1-intro p {
  font-size: 0.85rem;
  color: var(--text-muted);
  margin-bottom: 1rem;
  line-height: 1.4;
}

.sec1-img {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.8rem;
}

.sec1-image {
  flex: 1;
}

.sec1-image img {
  width: 100%;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}


